<p><a href="{{ path('products') }}">Products</a></p>
<h1>Basket</h1>
<div class="products">
{% for product in products %}
<div class="product">
    <h3>{{product.name}}</h3>
    <div>{{product.price}} <span>({{product.vat}}%)</span></div>
    <p><form method="post"><input type="hidden" name="delete-product" value="{{product.id}}"/><input type="submit" value="Usuń"/></form></p>
</div>
{% endfor %}
</div>