{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('products') }}">Produkty</a></p>
    <h1>Koszyk</h1>
    <div class="products">
    {% for product in products %}
    <div class="product">
        <h3>{{product.name}}</h3>
        <div>Cena: {{product.price}} zł <span>(w tym {{product.vat}}% VAT)</span></div>
        <p><form method="post"><input type="hidden" name="delete-product" value="{{product.id}}"/><input type="submit" value="Usuń"/></form></p>
    </div>
    {% endfor %}
    </div>
    <h3>Suma: {{ priceSum }} zł</h2>
{% endblock %}